


.modal {
 margin : 0 ;
}

.modal-dialog {
	/* width: auto; */
}

.modal-content {
	background-color: #eeeeee;
	/* max-width: 94%;  */
	  margin: 0 auto;
}
/* .product-gallery > .modal-dialog {
width: 640px;
} */
.modal-body {
	padding : 0;
}

.modal.show {
	padding : 0!important;
}
